#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-layout{
  display: flex;
  height: 100vh;
  
}

.menu {
  display: fixed;
  width: 15%;
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px ;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 15px;
}
.nav-item{
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.nav-item:hover{
  text-decoration: underline;
}

.app-content{
  width: 85%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
